<div>
    <div class="title">Thêm sản phẩm</div>
    <form method="post" action="/admin/products/store">
        <div class="form-group mt-4 container">
            <div class="row mt-4">
                <div class="col-3">
                    <label for="productName"> Tên sản phẩm</label>
                    <input
                        type="text"
                        class="form-control"
                        value=""
                        id="productName"
                        name="productName"
                    />
                </div>
                <div class="col-2">
                    <label for="branch"> Thương hiệu: </label>
                    <input
                        type="text"
                        class="form-control"
                        value=""
                        id="branch"
                        name="branch"
                    />
                </div>

                <div class="col-2">
                    <label for="gender"> Gender: </label>
                    <input
                        type="text"
                        class="form-control"
                        value=""
                        id="gender"
                        name="gender"
                    />
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-2">
                    <label for="type"> Loại :</label>
                    <input
                        type="text"
                        class="form-control"
                        value=""
                        id="type"
                        name="type"
                    />
                </div>

                <div class="col-2">
                    <label for="size"> Size:</label>
                    <input
                        type="text"
                        class="form-control"
                        value=""
                        id="size"
                        name="size"
                    />
                </div>
                <div class="col-2">
                    <label for="color"> Màu: </label>
                    <input
                        type="text"
                        class="form-control"
                        value=""
                        id="color"
                        name="color"
                    />
                </div>
                <div class="col-2">
                    <label for="material"> Chất liệu: </label>
                    <input
                        type="text"
                        class="form-control"
                        value=""
                        id="material"
                        name="material"
                    />
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-4">
                    <label for="description"> Mô tả sản phẩm:</label>
                    <textarea
                        class="form-control"
                        id="description"
                        name="description"
                    ></textarea>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-3">
                    <label for="image"> Hình ảnh sản phẩm: </label>
                    <input
                        type="text"
                        class="form-control"
                        value=""
                        id="image"
                        name="image"
                    />
                </div>

                <div class="col-2">
                    <label for="price"> Giá bán(VND): </label>
                    <input
                        type="number"
                        class="form-control"
                        value=""
                        id="price"
                        name="price"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-primary mt-3">
                    Lưu lại
                </button>
            </div>
        </div>
    </form>
</div>
