<body>
    <div>
        <h1>Thêm tin phụ mới</h1>
        <form action="/admin/news/store-secondary-news" method="POST">
            <div class="form-group">
                <label for="newsName">Tên tin tức:</label>
                <input type="text" id="newsName" name="newsName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="image">Hình ảnh:</label>
                <input type="text" id="image" name="image" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="title">Giới thiệu:</label>
                <input type="text" id="title" name="title" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="content">Nội dung:</label>
                <textarea id="content" name="content" class="form-control" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Tạo mới</button>
        </form>
    </div>
</body>
