<div class="title">Trang chủ</div>

<div class="box-notice">
    <div class="box-item">
        <div class="notice">
            <div class="notice_title">Số lượng sản phẩm</div>
            <div class="notice_number">{{productCount}}</div>
        </div>

        <div class="notice">
            <div class="notice_title">Đã bán</div>
            <div class="notice_number">{{soldCount}}</div>
        </div>
    </div>
    <div class="box-item">
        <div class="notice">
            <div class="notice_title">Banner</div>
            <div class="notice_number">{{bannerCount}}</div>
        </div>
    </div>
    <div class="box-item">
        <div class="notice">
            <div class="notice_title">User</div>
            <div class="notice_number">{{userCount}}</div>
        </div>
    </div>
</div>
