@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .line-clamp-1 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
    .line-clamp-2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
}

@layer components {
    .product-item:hover {
        transform: translateY(-10px);
        transition: transform 0.3s ease;
    }
    .category-item:hover {
        transform: translateX(5px);
        transition: transform 0.3s ease;
    }

    .box-shadow {
        box-shadow: 0px 2px 5px #ccc;
    }
}

@layer utilities {
    .roboto-thin {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .roboto-light {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .roboto-regular {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .roboto-medium {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .roboto-bold {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .roboto-black {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .roboto-thin-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .roboto-light-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .roboto-regular-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .roboto-medium-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .roboto-bold-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .roboto-black-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-style: italic;
    }
}
