<div>
    <div class='avt'>
        <div class='avt_img'>
        </div>
        <div class='avt_name'>Tuan Nguyen</div>
    </div>

    <ul class='sidebar_list'>
        <li>
            <a href='http://localhost:8000/admin'>
                <div class='index-icon'>
                    <i class='ti-home'></i>
                </div>
                <div class='index-name'>Trang chủ</div>
            </a>
        </li>
        <li>
            <a href='http://localhost:8000/admin/customers'>
                <div class='index-icon'>
                    <i class='ti-user'></i>
                </div>
                <div class='index-name'>Khách hàng</div>
            </a>
        </li>
        <li>
            <a href='http://localhost:8000/admin/products'>
                <div class='index-icon'>
                    <i class='ti-briefcase'></i>
                </div>
                <div class='index-name'>Sản phẩm</div>
            </a>
        </li>
        <li>
            <a href='http://localhost:8000/admin/banners'>
                <div class='index-icon'>
                    <i class='ti-announcement'></i>
                </div>
                <div class='index-name'>Banners</div>
            </a>
        </li>
        <li>
            <a href=''>
                <div class='index-icon'>
                    <i class='ti-bar-chart'></i>
                </div>
                <div class='index-name'>Thống kê</div>
            </a>
        </li>
    </ul>
</div>